html,body {
    height:100%;
    margin:0;
    background: white
}
.main-page {
    color:#4c4c4c;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1.5;
    position: relative;
    cursor: auto;
    letter-spacing: 0.05rem;
    -webkit-font-smoothing: subpixel-antialiased
}

.top {
    background:url("http://36.media.tumblr.com/c078cec3240430c46b3a4321f9009a5c/tumblr_nzca753BKO1uuufk2o1_1280.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size:cover;
    height:30%;
    width:100%;
    margin-bottom: 20px;
}

.middle.nav-bar {
    height:5%;
    width:100%;   
}

.three-navs {
    text-align: center;
    width:100%;
    left:0;
    position:absolute;
}

button {
    background-color: #ffe5e5;
    font: lighter 18px geneva; 
    border-radius: 5px;
    margin:5px;
}
#about {
    display: none;
}

#notes {
    display: none;
}

#next-steps {
    display: none;
}

#comment-wrapper {
    display: none;
}

.comment {
    font-weight: bold;
    font: 18px geneva;

}

.comment-list li {
    list-style: none;
    background-color: white ;
    margin: 10px;
    padding: 4px;
    color: black;
}

.comment-list {
    padding: 15px;
}

.comment-author {
    border: 4px;
    background-color:#ffe5ff;
    font: bolder 24px geneva;
    padding: 4px;
}

input[type="submit"] {
    background-color: #ffe6cc;
    font-color: white;
    font: 18px geneva; 
    border-radius: 5px;
}

input {
    padding: 10px;
    font: 18px geneva; 
}

.comment-box {
    background-color: #ffe6cc;
    margin: 10px auto;
    padding: 10px;
}

.comment-box h2 {
    font: 36px geneva; 
    padding-left: 15px;
}

.comment-message {
    text-indent: 50px;
}

.comment-error {
    color: #ff0000;
    font: light 14px geneva; 
}

.name-comment-box {
    margin: 20px;
}

.name {
    font-weight: bold;
    font: 18px geneva;
}

.name-comment-box {
    text-align: center;
    width:100%;
    left:0;
    position:absolute;
}

a {  
    color:#7ab5fe;
    text-decoration: none;
}
a:hover {
    color:#4fbfa6;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.profile {
    width:50em;
    background: white;
    margin:0 auto;
    position: relative;
}

.avatar-container {
    width:10em;
    text-align:center;
    position: absolute;
    left:15px;
    top:-5em;
}

.avatar-container img.avatar {
    width:10em;
    height:10em;
    border-radius:100%;
    margin-bottom:10px;
    padding:5px;
    background:white;
}
.social-links .social{
    display: inline-block;
    border: none;
    margin-right: 25px;
    color:#000000;
    font-weight:600;
    font-size:1.6em;
}

.resume-left, .resume-right {
    float:left;
    width:30%;
    margin-top:50px;
}

.personal-info { 
    margin:60px 0px 0px 0px;
    padding:0;
    list-style:none;
}

.personal-info li {
    font-size:0.8313rem;
    font-weight:300;
    margin-top:15px;
}

.personal-info li i {
    width:40px;
    font-size:1.2rem;
    display:inline-block;
    vertical-align:middle;
    text-align:center;
}

.personal-info li .fa-mobile {
    font-size:1.7em;
}

.resume-content {
    font-weight:lighter;
    font-size:18px;
    line-height:1.4em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    text-align:justify;
    text-justify:inter-word;
   
}

.resume-content.bio {
    padding:10px;
    text-align:justify;
    text-justify:inter-word;
}

.social-links {
    padding:10px;
}

.social-links .social {
    display: inline-block;
    border: none;
    margin-right: 25px;
    color:#000000;
    font-weight:600;
    font-size:1.6em;
}

.resume-right {
    width:70%;
    padding:0px 0px 0px 45px;
    box-sizing:border-box;
}

.ama-liyanage {
    color:#000000;
    font-size:48px;
    font-weight:bold;
    margin:0px 0px 20px 0px;
}

.edu-experience {
    color:#000000;
    font-size:36px;
    font-weight: lighter;
    margin:0px;

}

.module {
    margin-bottom:30px;
}

.module .title,.module .sub-title, .module2 .title {
    font-size:1.5em;
    font-weight:400;
}

.module .sub-title {
    font-size:20px;
    font-weight:300;
}


body {
    padding: 20px 300px;
    max-width: 2000px;
    margin: 0 auto;  
}

ul#nav {
    list-style-type: none;
}

.ipnd {
    color: black;
    font: bold 50px geneva; 
    text-align: center;
    padding: 15px;
    letter-spacing: 15px;
    margin:60px 0px 20px 0px;
}

.lesson-box h2 {
    color: #52514e;
    font-size: 36px; 
    font-weight: lighter; 
    margin: 10px;
}

.concept-title {
    color: #52514e;
    font-size: 18px;
}

h3 {
    font-weight:lighter;
}

.lesson-box {
    border-radius: 0px;
    background-color: #ffe5e5;
    margin: 10px auto;
    padding: 10px;
}

.concept-box {
    background-color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
    color: black;
    font-weight: lighter;
}

.concept-description {
    font-weight: lighter;
    margin: 6px;
}   

.code {
    font-weight: bold;
    font-family: courier;
    color: black;
    padding-left: 4px;
    padding-right: 4px; 
}

.main-title {
    letter-spacing: 30px;
    font: 50px lighter;
    font-style: courier;
    position:absolute;
    text-align:center;
    top: 50px;
    width: 100%;
    left:0;
}