body {
    padding: 20px 300px;
    font-family: geneva;
    max-width: 2000px;
    margin: 0 auto; 
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Marble_pattern_008.jpg/1280px-Marble_pattern_008.jpg"); 
}

header {
      text-align: center;
      background: url("http://40.media.tumblr.com/1828cfe2020472f3edabc680ad0e2326/tumblr_n324uxlOYd1rkrw3ao1_1280.jpg");
      background-size: cover;
      color: white;
}
ul#nav {
    list-style-type: none;
}

.imp-concepts {
    color: #e6e6e6;
    font: bold 64px geneva; 
    text-align: center;
    padding: 5px;
}

h2 {
    color: #52514e;
    font-size: 36px; 
    font-weight: bolder; 
    margin: 10px;
}

.concept-title {
    color: #52514e;
    font-size: 18px;
    font-weight: bolder;
}

.lesson-box {
    border-color: #0d0d0d;
    border-radius: 20px;
    background-color: #b6b8be;
    margin: 10px auto;
    padding: 10px;
}

.concept-box {
    background-color: #e0e0dc;
    margin: 10px;
    padding: 4px;
    border-radius: 4px;
    color: black;
}

.concept-description {
    font-weight: lighter;
    margin: 6px;
}   

.code {
    font-weight: bold;
    font-family: courier;
    color: black;
    padding-left: 4px;
    padding-right: 4px; 
}

.name {
    font-weight: bolder;
    font-size: 18px;
}

.comment-list li {
    list-style: none;
    background-color: #e0e0dc;
    margin: 10px;
    padding: 4px;
    border-radius: 4px;
    color: black;
}

input[type="submit"] {
    background: #b6b8be;
    color: white;
    font: bold 18px geneva; 
    font-weight: light;
    border-radius: 5px;
}

input {
    border: 0;
    padding: 10px;
    font: bold 18px geneva; 
}

.comment-box {
    border-color: #0d0d0d;
    border-radius: 20px;
    background-color: #ffe5e5;
    margin: 10px auto;
    padding: 10px;
    margin: 0 auto; 
}
.comment-box h2 {
    color: black;
    font: bold 18px geneva; 
}

.comment-message {
    text-indent: 50px;
}

.comment-error {
    color: #ff0000;
    font: bolder 14px geneva; 
}

#about {
    display: none;
}
#notes {
    display: none;
}

#next_steps {
    display: none;
}
