<section class="profile clearfix">
    <div class="avatar-container">
    <img class="avatar" src="https://pbs.twimg.com/profile_images/683218377398169600/XaJczQXt_400x400.jpg"></img>
    </div>
</section>
<article class="resume-left">

    <ul class="personal-info">
        <li>
            <i class="fa fa-mobile"></i>
            <span>647.702.9040</span>
        </li>
        
        <li>
            <i class="fa fa-envelope-o"></i>
            <a><span>liyaniama@gmail.com</span></a>
        </li>
        
        <li>
            <i class="fa fa-desktop"></i>
            <a><span>http://amailk.ca</span></a>
        </li>
        
        <li>
            <i class="fa fa-map-marker"></i>
            <span>Toronto, CA</span>
        </li>
    </ul>
    
    <p class="bio">
        Hello! I am Ama Liyanage. Welcome to my website. I hope you will enjoy your stay.
    </p>
    <div class="social-links">
        <a href="https://twitter.com/amailk" target="_blank">
            <div class="social"><i class="fa fa-twitter"></i></div>
        </a>
        <a href="https://instagram.com/amailk" target="_blank">
            <div class="social"><i class="fa fa-instagram"></i></div>
        </a>
        <a href="https://www.linkedin.com/in/ama-liyanage-5b31a2104?trk=hp-identity-name" target="_blank">
            <div class="social"><i class="fa fa-linkedin"></i></div>
        <a href="https://github.com/amailk" target="_blank">
            <div class="social"><i class="fa fa-github"></i></div>
        </a>
    </div>
</article>
<article class="resume-right">
    <h1 class="ama-liyanage">
        Ama Liyanage
    </h1>
    <h2 class="edu-experience">
        Education/Expierence
    </h2>
    <div class="module module-right">
        <span class="title">University of Toronto</span> <br>
        <span class="sub-title">Honours Bachelor of Science</span>
        <div class="resume-content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            </p>
            
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            </p>
        </div>
        
    </div>

    <div class="module module-right">
        <span class="title">Job Title or Position, Company</span> <br>
        <span class="sub-title">Degree/JobTitle</span>
        <div class="resume-content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            </p>
            
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            </p>
        </div>
        
    </div>
</article>