<!DOCTYPE html>
<html>
    <head>
        <title> {% block title %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    </head>

    <body >

        <!-- Main page content will be inserted in here -->
        {% block content %}
        {% endblock %}

        {% if comments %}
            <div class= "comment-box">
                <h2>Comments</h2>

                <ul class="comment-list">
                    {% for comment in comments %}
                        <li> 
                            <div class="comment-author-box">
                                <div class="comment-author"> {{ comment.name }} :</div> 
                                <div class="comment-message"> {{ comment.message }} </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form action="/add_comment" method="post">
            <div class="name-comment-box">
                <div class = "name">
                    Name <br/>
                    <input name="name"/>
                </div>
                
                <br/>

                <div class = "comment">
                    Comment <br/>
                    <textarea name="message" rows="3" cols="60"></textarea>
                </div>

                {% if invalid %}
                    <div class="comment-error">
                        <p> Sorry, your comment is invalid! Please try again </p>
                    </div>
                {% endif %}

                <div class = "post-comment">
                    <input type="submit" value="Post Comment">
                </div>
            </div>    
        </form>
    </body>
</html>