<!DOCTYPE html>
<html>
    <head>
        <title> {% block title %} {% endblock %}</title>
    </head>

    <body >
        {% block content %}
        {% endblock %}

        {% if comments %}
            <h2> Comments </h2>
            <ul>
                {% for comment in comments %}
                    <li> {{ comment.name | safe }} : {{ comment.message | safe}} </li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="/add_comment" method="post">
            <input type="hidden" name="page" value="{{ page }}"/>
            <div>

                Name <input name="name"/>
                <br/>
                Comment <br/>
                <textarea name="message" rows="3" cols="60"></textarea>
            </div>
            <div>
                <input type="submit" value="Post Comment">
            </div>
        </form>
    </body>
</html>