<!DOCTYPE html>
<html>
    <head>
        <title> {% block title %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    </head>

    <body >
        {% block content %}
        {% endblock %}

        {% if comments %}
            <h2> Comments </h2>
            <ul>
                {% for comment in comments %}
                    <li> 
                        <div class="comment">
                            <div class="comment-author"> {{ comment.name | safe }} </div>
                            <div class="comment-message"> {{ comment.message | safe}} </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="/add_comment" method="post">

            <div>
                Name <input name="name"/>
                <br/>
                Comment <br/>
                <textarea name="message" rows="3" cols="60"></textarea>
            </div>

            <div>
                <input type="submit" value="Post Comment">
            </div>

        </form>
    </body>
</html>