<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> {% block title %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="scripts/main.js"></script>
    </head>

    <body >

        <div>
            <button id="showAboutMe">About Ama</button>
            <button id="showNotes">Udacity Notes</button>
            <button id="showNextSteps">Next Steps</button>
        </div>

        <!-- Main page content will be inserted in here -->
        <div id="about">
            {% include "aboutme.html" %}
        </div>

        <div id="notes">
            {% include "notes.html" %}
        </div>

        <div id="next_steps">
            {% include "nextsteps.html" %}
        </div>


        {% if comments %}
            <div class= "comment-box" id="comments">
                <h2>Comments</h2>

                <ul class="comment-list">
                    {% for comment in comments %}
                        <li> 
                            <div class="comment-author-box">
                                <div class="comment-author"> {{ comment.name }} :</div> 
                                <div class="comment-message"> {{ comment.message }} </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form action="/add_comment" method="post">
            <div class="name-comment-box">
                <div class = "name">
                    Name <br/>
                    <input name="name"/>
                </div>
                
                <br/>

                <div class = "comment">
                    Comment <br/>
                    <textarea name="message" rows="3" cols="60"></textarea>
                </div>
                {% if invalid %}
                    <div class="comment-error">
                        <p> Sorry, your comment is invalid! Please try again </p>
                    </div>
                {% endif %}

                <div class = "post-comment">
                    <input type="submit" value="Post Comment">
                </div>
            </div> 
        </form>
    </body>
</html>