<header>
  <h1 class="ipnd">Next Steps</h1>
</header>

<div class="lesson-box">
    <h2> Javascript</h2>
    <div class="concept-box">
        <div class="concept-title">
            <h3> About </h3>
        </div>
            <div class="concept-description">
                <p> Javascript is the programming language of the web which adds interactivity to web pages. It is one of the three languages that all web developers <b>must</b> learn. Javascript is used to program the behaviour of web pages where as HTML adds content and css specifies the layout. For example buttons' response to clicks, animations and games are created through javascript. On this particular page javascript and jQuery has been used for the navigation buttons.(About me, Udacity Notes, Next Steps). Javascript runs on the web browser allowing to control web page behaviour. if statements, for and while loops function the same or nearly so just like in python. </p>

            </div>
        <div class="concept-title">
            <h3> Resources </h3>
        </div>
        <div class="concept-description">
            <ul>
                <li>
                    <a href="https://www.codecademy.com/login">Codeacademy</a>
                    <p>
                        Codeacademy has two courses each on <a href="https://www.codecademy.com/learn/javascript">Javascript</a> and <a href="https://www.codecademy.com/learn/jquery"> jQuery</a>. The first provides a basic introduction to javascript with explanations of concepts and has a programming environment to write and run Javascript. jQuery course that provides more visual feedback of the different functions compliments the javascript course well. 
                    </p>
                    <p>
                        The JQuery course seemed to be more useful for making the web application more interactive. The course showed how to show/hide elements when clicking on buttons. Or how to change the background interactively when hovering the mouse over something.
                    </p>
                </li>
                <li>
                     <a href="http://www.w3schools.com/js/default.asp">w3schools</a>
                     <p>
                        This was very useful and comprehensive tutorial when starting out with javascript. It has examples in javascript for most things that we did when learning python. For example.
                    </p>

                    <ul>
                        <li> Variables </li>
                        <li> Strings </li>
                        <li> Functions </li>
                        <li> Arrays, very similar to Python lists </li>
                        <li> For Loops </li>
                        <li> While Loops </li>
                        <li> If/else </li>
                    </ul>

                    <p>
                        Furthermore, this is also very useful as a reference. When trying to remember how to use a language feature.
                     </p>
                </li>
            </ul>
        </div>
    </div>

</div>